
1 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "gfx\\astral.ico"

5000 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "gfx\bgoff.jpg"
5001 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "gfx\bgon.jpg"
5002 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "gfx\btnoff.jpg"
5003 IMAGE MOVEABLE PURE LOADONCALL DISCARDABLE "gfx\btnon.jpg"
